@import "hedder&footer.css";

/* Добавляем шрифт */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

/* Общие настройки */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    outline: none;
    border-radius: 5px;
    color: var(--clr-main);
    cursor: pointer;
    border: none;
    font-size: large;
    font-weight: 600;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .25);
    text-decoration: none;
}

.btn:active {
    box-shadow: none
}

.green-btn {
    border-radius: 5px;
    background: linear-gradient(90deg, #4BC586 0%, #8ECEA7 50%, #4BC586 100%);
    text-decoration: none;
}

.green-btn:hover {
    background: #4BC586;
}

.text-box {
    display: flex;
}

.title {
    height: 47px;
    color: #E4E8ED;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
    margin: 113px 0 0 70px;
    z-index: 1;
}

.rectangle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 0px 0px 5px 0px;
    border-right: 2px solid #4BC586;
    border-bottom: 2px solid #4BC586;
}

:root {
    --clr-bg: #1C1B25;
    --clr-main: #fff;
    --clr-logo: #1F8A52;
    --clr-login: #4BC586;
}
/* Верхушка */

/*.form-box {
    width: 100%;
    background-color: var(--clr-bg);
}

.form-box .logo-header {
    margin: 0 192px 0 72px;
}

.form-box .page-1 {
    display: flex;
    justify-content: center;
    color: var(--clr-main);
    align-items: center;
    border-bottom: 2px solid #262D35;
    padding: 20px 0;
}


.form-box .page-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-main);
    width: 100%;   
    height: 61px; 
    flex-wrap: wrap;
    gap: 100px;
    border-bottom: 2px solid #262D35;
    display: none;
    transform: translateY(-100px);
}

.form-box.active .page-2 {
    transform: translateY(0);
    display: flex;
}

.form-box .page-2 a {
    text-decoration: none;
    color: var(--clr-main);
}

.form-box .page-2 a:hover {
    text-decoration: underline;
}

.form-box .nav-header {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}



.form-box .login-btn {
    background: linear-gradient(0.25turn, #262D35, #3D4651, #262D35);
    width: 200px;
    height: 45px;
    margin: 0 80px 0 154px;
    padding: 11px 69px 13px;
}

.form-box .login-btn:hover {
    background: #262D35;
}*/

/* Финансовая безопасность */

.header-page {
    height: 674px;
    background-color: #262D35;
    border-bottom: 1px solid #4BC586;
}

.header-page .text-box h2 {
    font-size: 36px;
    
}

.header-page .text-box .rectangle {
    margin: 110px 786px 0 594px;
}
.header-page .container {
    display: flex;
}

.header-page .container .side-box {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 40px 0 0 70px;
}

.header-page .container .side-box h2 {
    width: 688px;
    height: 64px;
    color: #4BC586;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1.2px;
}

.header-page .container .side-box p {
    width: 655px;
    height: 208px;
    color: #E4E8ED;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.8px;
}

.header-page .container .img-box {
    margin: 14px 0 0 130px;
}

/* Наиболее частые виды мошенничества */

.main-page {
    height: 785px;
    background: #262D35;
}

.main-page .text-box .title {
    font-size: 36px;
}

.main-page .text-box .rectangle {
    margin: 110px 506px 615px 874px;
}

.main-page .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 95px 70px;
}

.main-page .container .content {
    display: flex;
    width: 640px;
    height: 200px;
    border-radius: 5px;
    background: linear-gradient(180deg, #1C1B25 9.29%, rgba(28, 27, 37, 0.60) 30.07%, #1C1B25 99.06%);
}

.main-page .container .content h2 {
    min-width: 173px;
    max-width: 304px;
    height: 38px;
    color: #8ECEA7;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    margin: 40px 0 0 45px;
}

.main-page .container .content p {
    min-width: 346px;
    max-width: 374px;
    height: 52px;
    color: #E4E8ED;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: 1px;
    margin: 30px 0 0 45px;
}

.main-page .container .content .content-img {
    margin: 35px 45px;
}

/* Обратная связь */

.bottom-page {
    display: flex;
    height: 578px;
    background: #1C1B25;
    border-bottom: 1px solid #4BC586;
}

.bottom-page .side-box {
    width: 60%;
    height: 100%;
    padding: 75px 0 175px 70px;
}

.bottom-page .side-box .side-title h2 {
    width: 755px;
    height: 90px;
    color: #E4E8ED;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 1.7px;
    margin-bottom: 55px;
}

.bottom-page .side-box form .side-input {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.bottom-page .side-box form .side-input div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
}

.bottom-page .side-box form .side-input div label {
    min-width: 106px;
    max-width: 227px;
    height: 26px;
    color: #E4E8ED;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.bottom-page .side-box form .side-input div input {
    width: 333px;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #262D35;
    color: #E4E8ED;
    padding: 5px;
    font-size: 17px;
    margin-bottom: 45px;
}

.bottom-page .side-box form .side-input div input:invalid {
    border: 1px solid rgba(225, 12, 12, 0.511);
}

.bottom-page .side-box form .side-input div input:valid {
    border: 1px solid #4BC586;
}

.bottom-page .side-box form .green-btn {
    display: block;
    width: 250px;
    height: 45px;
    padding: 11px 38px;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}

/* Нижняя часть */

/*
footer {
    height: 248px;
    background-color: var(--clr-bg);
}

.bottom {
    display: flex;
    padding: 70px 0;
}

.bottom .nav-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 260px;
}

.bottom .nav-bottom .main-row {
    display: flex;
    color: var(--clr-main);
    flex-wrap: wrap;
    gap: 100px;
    margin: 70px 0;
}

.bottom .nav-bottom .main-row a {
    text-decoration: none;
    color: var(--clr-main);
}

.bottom .nav-bottom .main-row a:hover {
    text-decoration: underline;
}

.bottom .nav-bottom .side-column {
    display: flex;
    flex-direction: column;
    color: var(--clr-main);
    flex-wrap: wrap;
    gap: 20px;
    align-items: end;
    margin: 70px 0;
}

.bottom .logo-bottom {
    margin: 70px 283px 108px 70px;
}*/
